* {
    background-color: black;
}
div {
    width: 50%;
    margin-left: 25%;
}
#img {
    border: 5px white solid;
    width: 100%;
}
h1 {
    color: white;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
p {
    color: white;
    text-align: center;
}